# =============== TIPS ================
dev_user = 
dev_pass = 

dev_bm =
dev_bm_pass =

uat_user =
uat_pass =

janaki = 
jan_pass =

vijay = 
vij_pass =

bm_user =
bm_pass =


# =============== SAP ================
santhosh =
san_pass = 

apasha = 
apa_pass = 